@model IEnumerable<Lab7Task1.Models.Genre>
<ul id="nav nav-pills nav-stacked">
    @foreach (var genre in Model)
    {
        <li>
            @Html.ActionLink(genre.Name,
        "Browse", "Store",
        new { Genre = genre.Name }, null)
        </li>
    }
</ul>
